Repository Gyanni/Project-ai-news: changes, and which Atlantis projects are due for each by the changed paths.
All: ainews-global, ainews-dev, ainews-staging, ainews-prod

atlantis.yaml:

version: 3
projects:
  - name: ainews-global
    dir: infra/global
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars"]
      enabled: true

  - name: ainews-dev
    dir: infra/envs/dev
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../modules/**/*.tf"]
      enabled: true

  - name: ainews-staging
    dir: infra/envs/staging
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../modules/**/*.tf"]
      enabled: true

  - name: ainews-prod
    dir: infra/envs/prod
    workspace: default
    autoplan:
      when_modified: ["*.tf", "*.tfvars", "../../modules/**/*.tf"]
      enabled: true
    apply_requirements: [approved]

Add bootstrap, prod env, and IAM users
  infra/bootstrap/main.tf
  infra/envs/prod/.gitkeep
  infra/envs/prod/main.tf
  infra/envs/prod/outputs.tf
  infra/envs/prod/variables.tf
  infra/global/iam.tf
Due: ainews-global, ainews-prod

feat: initialize infra
  infra/envs/dev/main.tf
  infra/envs/prod/main.tf
  infra/envs/prod/provider.tf
Due: ainews-dev, ainews-prod

feat: add s3, vpc and network
  infra/envs/d/main.tf
  infra/envs/d/outputs.tf
  infra/envs/d/variables.tf
  infra/envs/p/main.tf
  infra/envs/p/outputs.tf
  infra/envs/p/provider.tf
  infra/envs/p/variables.tf
  infra/envs/s/.gitkeep
Due: none

fix: fix s3 sg
  infra/modules/storage/main.tf
  infra/modules/storage/variables.tf
Due: ainews-dev, ainews-staging, ainews-prod

feat: add DB config
  backend/ainews-server/build.gradle
  backend/ainews-server/src/main/resources/application.properties
  backend/ainews-server/src/main/resources/db/migration/V1__init_schema.sql
  infra/envs/p/main.tf
  infra/envs/p/outputs.tf
  infra/modules/rds/main.tf
  infra/modules/rds/outputs.tf
  infra/modules/rds/variables.tf
Due: ainews-dev, ainews-staging, ainews-prod

fix atlantis.yaml
  atlantis.yaml
Due: none
